#faq {
    margin: 0 -20px;
}

.faq-title {
    margin: 60px 0 30px 0;
    font-size: 14px;
    text-align: center;
}

#faq .accordion {
    background-color: #121212;
    padding: 0 14px;
    border-radius: 5px;
    margin: 0;
}

.question {
    color: #ccc;
    font-weight: 400;
    font-size: 12px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.answer {
    font-weight: 300;
    font-size: 10px;
    line-height: 24px;
    color: rgb(242, 242, 242);
    max-height: 0;
    overflow: hidden;
    transform: translateY(-5px);
    transition: max-height 0.25s ease, transform 0.25s ease, padding 0.25s ease;
    padding: 0;
    padding-bottom: 0; /* وقتی بسته است */
}

.answer.open {
    max-height: 500px; /* بزرگ‌تر از بلندترین جواب */
    transform: translateY(0);
    padding-bottom: 16px;
}

.question img {
    transition: transform 0.25s ease;
}

.question.active img {
    transform: rotate(180deg);
}

#faq .row {
    border-bottom: 1px #37383e solid;
}

#faq .row:last-child {
    border: none;
}

@media (min-width: 640px) {
    #faq .accordion {
        margin: 0;
    }

    .faq-title {
        font-size: 16px;
    }

    .question {
        font-size: 14px;
    }

    .answer {
        font-size: 12px;
    }
}

@media (min-width: 1280px) {
    #faq .accordion {
        margin: 0 16%;
    }

    .faq-title {
        font-size: 20px;
    }

    .question {
        font-size: 16px;
    }

    .answer {
        font-size: 14px;
    }
}
