#intro {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}

#intro .intro-desc {
    text-align: center;
}

#intro .intro-img img {
    max-width: 100%;
    margin-top: 40px;
}

@media (min-width: 1280px) {
    #intro {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-top: 30px;
        padding: 0 45px;
    }

    .intro-reverse {
        flex-direction: row-reverse;
    }

    #namava-tv {
        width: 100%;
    }

    .intro-col {
        margin-top: 0;
    }

    #intro .intro-desc {
        text-align: right;
        width: 48%;
        margin: 70px 8% 0;
    }

    #intro .intro-img {
        width: 65%;
    }

    #intro .intro-img img {
        width: 100%;
    }

    .intro-col {
        flex-direction: column-reverse;
    }

    .intro-col .intro-desc {
        text-align: center;
        margin: 0 auto;
    }

    #remote-img {
        width: 25%;
    }

    .intro-reverse {
        position: relative;
    }
}
