* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
    margin: 0 20px;
}

main {
    padding-top: 39px;
    max-width: 1180px;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 640px) {
    body {
        margin: 0 56px;
    }
}

@media (min-width: 1280px) {
    body {
        margin: 0 56px;
    }
}
