#video {
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
}

#video img {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 640px) {
    #video {
        margin-left: -30px;
        margin-right: -30px;
    }
}

@media (min-width: 1280px) {
    #video {
        margin: 0 auto;
        max-width: 1180px;
        width: 85%;
    }
}
